<% include header %>
<section class="container">
    <div class="col s12 m4">
        <div class="card">
            <img src="/images/teentitansgo.jpeg" style="width: 100%;" />
        </div>
    </div>
</section>
<% include footer %>