<% include header %>
<section class="container white">
    <h4>Obrigado <%= name %>, sua mensagem foi enviada com sucesso!</h4>
    <p>Nós já pegamos sua mensagem e estamos analisando!</p>
    <p>Sua mensagem foi: <%= description %></p>
    </form>
</section>
<% include footer %>